html, body {
  height: 100%;
  width: 100%;
  background: white;
}

header {
  height: 200px;
  font-size: 200%;
  text-align: center;
  color: silver;
  background: linear-gradient( navy, aqua);
  margin-bottom: 10px;
}
/*
.post {
  width: 300px;
  margin: 25px;
  border: 1px solid gray;
  background: white;
}

#top {
  background: white;
  margin-top: 0px;
}
*/
.sidebar {
  display: flexbox;
  width: 100px;
  margin: 20px;
  background: white;
}
/*
.post-nav{
  float: left;
  background: lightgray;
}

.page-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
*/
