html, body {
  height: 100%;
  width: 100%;
  background: white;
}

header {
  height: 200px;
  font-size: 200%;
  text-align: center;
  color: silver;
  background: linear-gradient( navy, aqua);
  margin-top: 10px;
  margin-bottom: 10px;
}



.post {
  width: 300px;
  margin: 25px;
  border: 1px solid gray;
  background: white;
}

.sidebar {
  display: inline-block;
  width: 100px;
  margin: 70px;
  background: white;
}


/*
.page-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
*/
