html, body {
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  font: 14px Georgia;
}

header {
  height: 200px;
  font-size: 200%;
  text-align: center;
  color: silver;
  background: linear-gradient( navy, aqua);
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.post {
  width: 300px;
  margin: 25px;
  border: 1px solid gray;
  background: white;
}

.sidebar {
  display: inline-block;
  width: 100px;
  margin: 10px;
  background: white;
}

.wrapper {
  width: 1000px;
  margin: 100px;
  background: lightblue;
}


/*
.page-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
*/
